* {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	font-family: sans-serif;
}

nav {
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100vw;
	padding: 35px 10%;
	background-color: #ffffff;
	height: 40px;
}

.navLogo {
	color: #000000;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 1.9rem;
	font-weight: 500;
}

.navLink {
	color: #000000;
	font-size: 1.6rem;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	margin-left: 10px;
}

.navLink:hover {
	border-bottom: 4px solid #000000;
}

header {
	margin-top: 40px;
	height: calc(100vh - 40px);
	background-image: url("mainImageBG.jpg");
	background-position: center;
	background-size: cover;
}

.headerContent {
	display: flex;
	padding: 0 10%;
}