* {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	font-family: sans-serif;
}

a.anchor {
	display: block;
	position: relative;
	top: -40px;
	visibility: hidden;
}

nav {
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100vw;
	padding: 35px 10%;
	background-color: #ffffff;
	height: 40px;
}

.navLogo {
	color: #000000;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 1.9rem;
	font-weight: 500;
}

.navLink {
	color: #000000;
	font-size: 1.6rem;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	margin-left: 10px;
}

.navLink:hover {
	border-bottom: 4px solid #000000;
}

header {
	font-family: 'Roboto Mono';
	margin-top: 40px;
	width: 100vw;
	height: calc(100vh - 40px);
	max-height: 800px;
	background-image: url("mainImageBG.jpg");
	background-position: center;
	background-size: cover;
}

.headerContent {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding: 10% 10%;
}

.headerTitle {
	color: #ffffff;
	font-size: 7.2rem;
	font-weight: 500;
}

.headerText {
	color: #ffffff;
	font-size: 3.2rem;
	font-weight: normal;
}

.aboutMe {
	background-color: gray;
	min-height: 600px;
	width: 100vw;
	padding: 20px 10%;
}

.recentProjects {
	min-height: 800px;
	width: 100vw;
	padding: 20px 10%;
	background-color: Beige;
}

.projectGrid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: 15px;
}

.projectItem {
}

.featureProjects {
	width: 100vh;
	height: 400px;
	display: flex;
}

.featureProjectsItem {
	background-image: url("https://via.placeholder.com/728x90");
	background-size: cover;
	max-width: 25%;
}

.contactMe {
	background-color: DarkGray;
	height: 300px;
}

footer {
	color: #ffffff;
	background-color: gray;
	min-height: 200px;
	display: flex;
	justify-content: space-between;
	width: 100vw;
	padding: 40px 10%;
}

.returnTop {
	padding: 5px 10px;
	border: 2px solid #ffffff;
	border-radius: 25%;
	text-decoration: none;
	color: #ffffff;
	font-size: 3.2rem;
	align-self: flex-end;
}