* {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	font-family: 'Work Sans',sans-serif;
}

a.anchor {
	display: block;
	position: relative;
	top: -70px;
	visibility: hidden;
}

.lang {
	font-family: monospace;
}

.verticalDivider {
	width: 2px;
	background-color: rgba(255,255,255,0.3);
	height: 400px;
	max-height: 80%;
	margin: 40px;
}

@media only screen and (max-width: 1010px) {
	.verticalDivider {
		display: none;
	}
}

/* -- Nav --*/

nav {
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100vw;
	padding: 35px 10%;
	background-color: #ffffff;
	height: 40px;
	box-shadow:  0px 12px 24px -12px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow:  0px 12px 24px -12px rgba(0, 0, 0, 0.5);
}

.navLogo {
	color: #000000;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 1.9rem;
	font-weight: 500;
}

.navLink {
	color: #000000;
	font-size: 1.6rem;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	margin-left: 10px;
}

.navLink:hover {
	border-bottom: 4px solid #000000;
}

.burgerMenu {
	display:none;
}

.burgerMenu div {
	width: 30px;
	height: 3px;
	background-color: #000000;
	margin: 6px 0;
}

@media only screen and (max-width: 664px) {
	.navLink {
		display: none;
	}
	
	.burgerMenu {
		display: block;
		padding: 5px;
	}
}

/* -- Header/Intro -- */

header {
	font-family: 'Work Sans', sans-serif;
	margin-top: 70px;
	width: 100vw;
	height: calc(80vh - 70px);
	max-height: 800px;
	min-height: 300px;
	background-image: url("mainImageBG.jpg");
	background-position: center;
	background-size: cover;
}

.headerContent {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

.intro {
	display:flex;
	justify-content: center;
	flex-direction: column;
	gap: 0px;
	width: 80%;
	height: 90%;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

.headerTitle {
	color: #ffffff;
	font-size: 7.2rem;
	font-weight: 600;
	line-height: 1;
	margin-bottom: 0;
}

.headerText {
	color: #ffffff;
	font-size: 3.2rem;
	font-weight: normal;
	margin-top: 0px;
}

.headerLinks {
	display: flex;
	gap: 40px;
}

.headerBtn {
	color: #ffffff;
	text-decoration: none;
	font-size: 2.6rem;
	font-weight: normal;
	border-bottom: 4px solid #ffffff;
}

.headerBtn:hover {
	border-bottom: 4px solid #9e381c;
}

@media only screen and (max-width: 310px) {
	
	.headerTitle {
		font-size: 6.8rem;
	}
	
	.headerText {
		font-size: 2.6rem;
	}
}

/* -- About me -- */

.aboutMe {
	display: flex;
	align-items: center;
	background-color: gray;
	min-height: 500px;
	width: 100vw;
	padding: 40px 10%;
	box-shadow: inset 0px 12px 24px -12px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: inset 0px 12px 24px -12px rgba(0, 0, 0, 0.5);
}

.aboutMeText {
	color: #ffffff;
	flex-grow: 1;
}

.aboutMeText h2 {
	font-size: 3.2rem;
}

.aboutMeText p {
	font-size: 2.4rem;
}

.aboutMeText a {
	display: inline-block;
	line-height: 1.2;
	color: #ffffff;
	text-decoration: none;
	border-bottom: 4px solid rgba(158, 56, 28, 0.8);
}

.aboutMeText a:hover {
	border-bottom: 4px solid rgba(255, 255, 255, 0.8);
}

.aboutMeImg {
	width: 100%;
	max-height: 400px;
	max-width: 400px;
	border-radius: 50%;
	flex-grow: 1;
}

@media only screen and (max-width: 1010px) {
	.aboutMe {
		flex-wrap: wrap;
		justify-content: center;
		gap: 40px;
	}
}

/* -- Projects -- */

.recentProjects {
	width: 100vw;
	padding: 40px 10%;
	background-color: BlanchedAlmond;
}

.recentProjects h2 {
	font-size: 3.2rem;
	margin-bottom: 40px;
	text-align: center;
}

.projectGrid {
	max-width: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	gap: 15px;
}

.projectItem img {
	max-width: 100%;
}

.projectName {
	font-size: 1.4rem;
	display: inline-block;
	line-height: 1.2;
	color: #000000;
	text-transform: uppercase;
	text-decoration: none;
	border-bottom: 4px solid rgba(158, 56, 28, 0.8);
	margin-left: 10px;
}

.projectName:hover {
	border-bottom: 4px solid rgba(255, 255, 255, 0.8);
}

.projectDesc {
	font-size: 1.4rem;
	margin-left: 10px;
}

.projectLink {
	text-decoration: none;
	color: #000000;
	margin-left: 10px;
	font-size: 1.4rem;
	border-bottom: 4px solid rgba(158, 56, 28, 0.8);
}

.projectLink:hover {
	border-bottom: 4px solid #FFFFFF;
}


/* Possible extra section --
.featureProjects {
	width: 100vw;
	height: 400px;
	display: flex;
}

.featureProjectsItem {
	background-image: url("#");
	background-size: cover;
}

-------- */

/* -- Contact -- */

.contactMe {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	background-color: DarkGray;
	height: 200px;
	padding: 40px 10%;
}

.mailIcon {
	font-size: 9rem;
}

.contactText {
	font-size: 1.9rem;
}

.contactTitle {
	display: flex;
	gap: 20px;
	align-items: center;
	font-size: 3.2rem;
}

.contactBtn {
	color: #000000;
	font-size: 1.6rem;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	margin-left: 10px;
	padding-bottom: 4px;
	border-bottom: 4px solid transparent;
}

.contactBtn:hover {
	border-bottom: 4px solid #000000;
}

.socialContainer {
	font-size: 1.9rem;
	font-weight: bolder;
}

.socialIcon {
	color: #000000;
	font-size: 3rem;
	letter-spacing: 1.2rem;
	text-decoration: none;
	padding-bottom: 4px;
	border-bottom: 4px solid transparent;
}

.socialIcon:hover {
	border-bottom: 4px solid #000000;
}

/* -- Footer -- */

footer {
	color: #ffffff;
	background-color: gray;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100vw;
	padding: 40px 10%;
}

footer p {
	font-size: 1.4rem;
}

.returnTop {
	padding: 5px 10px;
	border: 2px solid #ffffff;
	border-radius: 25%;
	text-decoration: none;
	color: #ffffff;
	font-size: 3.2rem;
	align-self: flex-end;
}